# Python
__pycache__/
*.pyc
venv/
env/

# Django
*.log
db.sqlite3
/media/
/staticfiles/

# Secrets (IMPORTANT)
# If your settings.py has secrets, you should not upload it.
# Many people create a local_settings.py, add it here,
# and import it into settings.py.
# For now, if your secrets are in settings.py, be very careful.
# A better way is to use environment variables (.env file).
.env

# OS / IDE
.DS_Store
.vscode/
.idea/
**/migrations/
